
label
{
    display: none;
}
select
{
    width:300px;
}
input
{

    outline-color: blue;
    height:20px;
    color:darkblue;
    transition-delay:.1s;
    transition-duration:.5s;
    text-align: center;
}


form{
   padding: 10px;
}
